name: Weekly Ad Monitor (SerpApi)

on:
  schedule:
    - cron: '0 1 * * 1,3,5'  # 每週一、三、五 台灣早上9點
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Ads Monitor Script
        env:
          GCP_CREDENTIALS_JSON: ${{ secrets.GCP_CREDENTIALS_JSON }}
          SERPAPI_API_KEY: ${{ secrets.SERPAPI_API_KEY }}
          SHEET_ID: ${{ secrets.SHEET_ID }}
        run: python main_ads.py
